.orange-color {
    color: #EB5E28 !important;
}

.bg-orange {
    background-color: #EB5E28 !important;
}

.transparent{
    background-color:rgba(0,0,0,0) !important;  
} 

.border-orange {
    border-color: #EB5E28 !important;
}

.active > .page-link {
    background-color: #EB5E28 !important;
    border-color: #EB5E28 !important;
}

.profile-background-admin {
    background-image: url('../paper_img/red.jpg');
    background-position: center center;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-top: -110px;
}

.white-hover:hover { 
    color: white !important;
}

.gray-hover:hover {
    background-color: #DDDDDD !important;
    color: #EB5E28 !important;
}

#primer-login-background {
    background-image: url('../paper_img/city.jpg') !important;
    background-position: center center !important;
    background-size: cover !important;
    min-height: 100vh !important;
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
}

.password-card {
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    min-height: 400px;
    padding: 30px;
    margin: 0;
    position: absolute;
}

.navbar-egresado {
    height: 8vh !important;
}

.button-hover:hover {
    background-color: #EB5E28 !important;
    color:white !important;
}

.button-hover:hover > * {
    color:white !important;
}


#profile-section-2 {
    background-color: #E3E3E3 !important;
    color: #5C5B5A !important;
}

#profile-section-3 {
    color: #5C5B5A !important;
    min-height: 50vh;
    max-height: 50vh;
}

.overflow-y {
    overflow-y: auto;
}

#intereses-scroll {
    max-height: 70%;
}

.profile-section-3-link {
    color: #5C5B5A;
}

.profile-section-3-link:hover {
    color:white;
    text-decoration: none !important;
}

#profile-picture {
    border: 10px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.edit-picture:hover {
    background-color: #EB5E28;
}