.orange-color {
    color: #EB5E28;
}

.bg-orange {
    background-color: #EB5E28;
}

.transparent{
    background-color:rgba(0,0,0,0) !important;  
} 

.active > .page-link {
    background-color: #EB5E28 !important;
    border-color: #EB5E28 !important;
}

.profile-background-admin {
    background-image: url('../paper_img/red.jpg');
    background-position: center center;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-top: -110px;
}

.white-hover:hover { 
    color: white !important;
}