.orange-color {
    color: #EB5E28;
}

.transparent{
    background-color:rgba(0,0,0,0) !important;  
} 

.active > .page-link {
    background-color: #EB5E28 !important;
    border-color: #EB5E28 !important;
}